# User custom ignores
working/
# Ignore all files in dump directory
# Ignore all files in public/dump directory
public/dump/*
unencrypted-dumps/*
!public/dump/sample_questions.json
!unencrypted-dumps/sample_questions.json

# Ignore specific files
src/shared/config/index.ts
src/shared/api/dataService.tsx
src/shared/api/pdfService.tsx

# Node.js dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific files
# Credentials
gcp-key.json

# Temporary / Backup files
*.ex
*.bak
*.swp
*.tmp
tmp/
*~
.DS_Store
Thumbs.db